* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   HEADER
   ========================= */

header {
    height: 80px;
    width: 100%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    font-family: 'Montserrat', sans-serif;
}


/* Logo */

header img {
    height: 40px;
    width: auto;
}


/* Navigation */

header nav {
    display: flex;
    align-items: center;
    gap: 50px;
}


nav a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}


nav a:hover {
    color: red;
}


/* =========================
   HERO SECTION
   ========================= */

.hero {
    width: 100%;
    height: 90vh;

    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    color: whitesmoke;
}


/* Hero Content */

.herocontent {
    text-align: left;
}


/* Hero Button */

.hero button {
    margin-top: 15px;

    padding: 10px 20px;

    background-color: red;
    color: white;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}


.hero button:hover {
    background-color: darkred;
}


.vediosection
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
}

.vedio-text
{
    flex: 1;
}

.vedio-box
{
    flex: 1;
}

.vedio-box video
{
    width: 100%;
    height: 100%;
}

.who
{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.who h1
{
    color: red;
}

.who p
{
    max-width: 900px;
    text-align: center;
}

.footer {
    min-height: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: black;
    color: whitesmoke;

    padding: 40px 60px;
    box-sizing: border-box;
}


/* Common styling for every section */

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 180px;
}


/* Logo Section */

.footer-brand {
    max-width: 300px;
}

.footer-brand img {
    width: 300px;
    height: auto;
}

.footer-brand p {
    text-align: center;
    margin-top: 15px;
}


/* Headings */

.footer-section h2 {
    margin-bottom: 12px;
}


/* Paragraphs */

.footer-section p {
    margin: 4px 0;
    text-align: center;
}


/* Links */

.footer-section a {
    color: whitesmoke;
    text-decoration: none;

    margin: 4px 0;
}

.footer-section a:hover {
    text-decoration: underline;
}






.footerend
{

    display: flex;
}
